header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.question-container {
    display: none;

}

.end-container {
    display: none;
}

.scores-container {
    display: none;
}

section {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-color: teal;
    border-width: thin;
}

button {
    background-color: teal;
    color: white;
    border-radius: 5px;
}

#result-right {
    display: none;
}

#result-wrong {
    display: none;
}
@media screen and (max-width: 500px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}